.adoptForm {
    width: 600px;
}

#downloadBtn a {
    text-decoration: none;
}

.ratPic {
    width: 100px;
    height: 100px;
}
#scrollBox {
    height: 150px;
    width: 150px;
    overflow: scroll;
    display: hidden;
}